= render(:partial => 'index', 
         :locals => {csv_files: @csv_files,
                   base_file: @base_file,
                   file: @file,  
                   header: @header, 
                   csv_rows: @csv_rows,
                   index_path: 'admin_db_serums_path', 
                   new_path: 'new_admin_db_serum_path', 
                   edit_path: 'edit_admin_db_serum_path', 
                   delete_path: 'admin_db_serum_path'} )
