= render(:partial => 'new',
         :locals => {file: @file,
            header: @header,
            row: @row,
            create_path: 'admin_db_serums_path',
            index_path: 'admin_db_serums_path'} )
