= render(:partial => 'index', 
         :locals => {csv_files: @csv_files,
                   base_file: @base_file,
                   file: @file, 
                   header: @header, 
                   csv_rows: @csv_rows,
                   index_path: 'admin_calibration_urinecholesterols_path', 
                   new_path: 'new_admin_calibration_urinecholesterol_path', 
                   edit_path: 'edit_admin_calibration_urinecholesterol_path', 
                   delete_path: 'admin_calibration_urinecholesterol_path'} )
