= render(:partial => 'new',
         :locals => {file: @file,
            header: @header,
            row: @row,
            create_path: 'admin_calibration_urinecholesterols_path',
            index_path: 'admin_calibration_urinecholesterols_path'} )

