= render(:partial => 'edit',
         :locals => {file: @file,
            header: @header,
            row: @row,
            update_path: 'admin_db_saliva_path',
            index_path: 'admin_db_salivas_path',
            id: @id} )

