= render(:partial => 'new',
         :locals => {file: @file,
            header: @header,
            row: @row,
            type: @type,
            create_path: 'admin_db_csv_index_path',
            index_path: 'admin_db_csv_index_path',
            domain: 'admin'} )
