p#notice = notice

p
  strong Database:
  = @submission.database

= link_to 'Edit', edit_submission_path(@submission)
'|
= link_to 'Back', submissions_path

h2 Alkane Standards
= render 'spectra/spectra_viewer', json_path: submission_spectrum_url(@submission, @submission.standards, 'json')
