p  
    | <b> Attention: </b> <br/>
    | <font color='red'>Columns 'MZ' and 'Intensity''s values are seperated with space or new line.</font> <br/>
    | <font color='red'>Columns 'Compound', 'RI' and 'RT' are required fields.</font>
br