= render(:partial => 'edit',
         :locals => {file: @file,
            header: @header,
            row: @row,
            type: @type,
            update_path: 'admin_calibration_csv_path',
            index_path: 'admin_calibration_csv_index_path',
            id: @id, 
            domain: 'admin'} )

