// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#spectra-list tbody {
  tr {
    color: rgb(100, 100, 100);
    font-style: italic;
    cursor: default;
  }
  tr.spectrum-active {
    cursor: pointer;
    color: #333;
    font-style: normal;
    &:hover {
      td {
        background-color: #EEE;
      }
    }
  }
}

h3.status-text {
  margin-top: 0;
  margin-bottom: 0;
  & ~ p {
    margin-top: 10px;
  }
}

