= render(:partial => 'edit',
         :locals => {file: @file,
            header: @header,
            row: @row,
            update_path: 'admin_calibration_urinetropicacid_path',
            index_path: 'admin_calibration_urinetropicacids_path',
            id: @id} )

